* {
  margin: 0;
  transition: all 0.35s;
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__dropdown {
  background: white;
}

.app__header > h1 {
  color: #fc3c3c;
  font-size: 2rem;
}

.app__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}

.app__left {
  flex: 0.7;
}

.app__right {
  flex: 0.25;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__cardContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.app__graphTitle {
  padding-top: 16px;
  padding-bottom: 32px;
}

.app__mapContainer {
  min-height: 80vh;
}

.app__right {
  display: flex;
  flex-direction: column;
}

.app__right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: stretch;
  text-align: center;
}

.app__graph {
  margin-bottom: 2rem;
  flex-grow: 1;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }

  .app__right {
    margin-top: 1rem;
  }
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }

  .app__right {
    margin-top: 1rem;
  }
}

@media (max-width: 479px) {
  .app__stats {
    flex-direction: column;
  }
}
