* {
  margin: 0;
  transition: all 0.35s;
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__dropdown {
  background: white;
}

.app__header > h1 {
  color: #fc3c3c;
  font-size: 2rem;
}

.app__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}

.app__left {
  flex: 0.9;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__left {
  margin-bottom: 16px;
}

.app__graphTitle {
  padding-top: 36px;
  padding-bottom: 16px;
}

.app__mapContainer {
  min-height: 80vh;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
