.infoBox {
  flex: 1;
  cursor: pointer;
}

.infoBox:not(:last-child) {
  margin-right: 16px;
}

.infoBox__cases {
  color: #cc1034;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.infoBox__total {
  color: #6c757d;
  font-weight: 700 !important;
  font-size: 0.8rem !important;
  margin-top: 15px !important;
}

.infoBox--selected {
  border-top: 10px solid red;
}

.infoBox--selected.infoBox--recovered {
  border-top: 10px solid greenyellow;
}

.infoBox--selected.infoBox--deaths {
  border-top: 10px solid purple;
}

.infoBox__cases--recovered {
  color: green !important;
}

.infoBox__cases--deaths {
  color: purple !important;
}
